p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.bnt {
    font-family: "Playwrite IT Moderna", cursive;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 40px;
}