#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F1F1F1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 1 10em #df9637aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fixed {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.group {
  display: inline-block;
  position: relative;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.tooltip[data-popper-placement^="left"]>.tooltip-arrow {
  right: -4px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip[aria-expanded="true"] {
  opacity: 1;
}