@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
.box {
    font-size: 50px;
    background-color: #00BA9C;
    width: 8px;
    height: 8px;
    margin-top: 9px;
    border-radius: 2px;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.header-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-nav ul li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.header {
    font-size: 30px;
    font-family: "Playwrite IT Moderna", cursive;
    width: 100px;
    height: 100px;
    cursor: pointer;
    will-change: filter;
    transition: filter 300ms;
}

.header:hover {
    filter: drop-shadow(0 0 10px #ff1a4c);
    /* Adjust the blur radius as needed */
}

.fire-animation img {
    transition: transform 0.3s;
}

.fire-animation img:hover {
    transform: scale(1);
}


/* Styles for screens less than 600px */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .header-nav ul {
        padding-top: 10px;
    }

}